/*
REST
*/
{
    box-sizing: border-box
;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background: #25072e url("../resources/background/background.svg") no-repeat center center fixed;
    --border-width: 3px;
    background-size: cover;
}

div, img, iframe {
    border-style: solid;
    border-color: #ec008c;
    border-width: 0px;
}

.page-content {
    min-width: 800px;
    margin-left: 280px;
}

.page-logo {
    font-family: "OpenSans", "Lucida Console", monospace;
    font-size: 28px;
}

.page-header {
    position: fixed;
    text-align: left;
    top: 2%;
    left: 40px;
}

.page-footer {
    position: fixed;
    bottom: 1%;
}

.page-content-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px 100px 20px 0px;
    min-height: 100vh;

}

.page-content-section__header {
    color: #ec008c;
    padding-bottom: 40px;
}

.page-navi {
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: #ec008c;
}

.page-navi__item {
    padding-top: 10px;
}

.band-members {
    display: inline;
    text-align: center;
}

.band-members__container {
    padding-right: 20%;
}

.band-members__item {
    display: inline-block;
}

.about-section {
    border: solid 3px black;
    padding-left: 1050px;
}

.about-section__item {
    display: inline-block;
    position: relative;
}

.about-section__text {
    background-color: #25072e;
    position: absolute;
    max-width: 300px;
    border-width: 0px 0px var(--border-width) 0px;
    left: -180px;
    bottom: -120px;

}

.about-section__text-header {
    text-transform: uppercase;
    font-weight: 900;
}

.about-section__image {
    border-width: var(--border-width) 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    flex-wrap: wrap;

}

.concerts article {
    display: inline-block;
    padding: 20px;
}

.concerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;

}

.concerts__image {
    border-width: 0px 0px var(--border-width) 0px;
    width: 550px;
    height: auto;
}

.video-section {
    text-align: right;
    padding-left: 850px;
}

.video-section__item {
    border-width: var(--border-width) 0px 0px 0px;
}

.contact-section__item {
    position: relative;
    padding-top: 190px;
    width: 50%;
    margin: 0 auto;
}

.button-submit {
    position: absolute;
    transform: translateY(-50%);

}

.gallery li {
    display: inline-block;
    padding: 20px;

}

.photo-section__item ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;

}

.gallery__image {
    border-width: var(--border-width) 0px 0px 0px;
    width: 320px;
    height: auto;

}

.white-text {
    color: #ccc8ff;

}

.media-links__item {
    padding-bottom: 10px;
    size: 30px;
}

.button-media {
    padding: 5px;

}

.button-media__image {
    width: 30px;
    height: auto;
}

.form {
    display: flex;
}

.form__item {
    display: block;
}

.form__item {
    padding-top: 10px;

}

.form-label__input {
    color: #ccc8ff;
    border-radius: 4px;
    border-style: hidden;
    background-color: #25072e;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.7;
}

button {
    background-color: #25072e;
    opacity: 0.7;
    padding: 12px 25px;
    border: none;
    text-align: center;
    color: #ccc8ff;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #ec008c;
    font-family: "OpenSans", "Lucida Console", monospace;
    letter-spacing: 3.8px;
}

ul {
    padding-left: 10px;
    list-style-type: none;
}

h2 {
    font-family: "OpenSans", "Lucida Console", monospace;
    letter-spacing: 3.8px;
    line-height: 1.6;
}
