body{
    background-image: url("./resources/background/background.svg");
    background-color:#25072e;
}

.page-logo{
    font-family: "OpenSans","Lucida Console", monospace;
    font-size: 28px;
}

.page-header {
    border-style: dotted;                            
    position: fixed;
    text-align: left;
    top: 2%;
    left: 40px;      
}

.page-footer {
    position: fixed;
    bottom: 1%;
    
}

.page-content {
    padding-left: 350px; 
    
}

.page-navi__item {
    left: 2%;
}

.band-members__item{
    display: inline-block;
}
.about-section__text{
    text-align: left;
    padding: 20px ;

}
.about-section__text-header{
    text-transform: uppercase;
    font-weight: 900;
}
#sections{
    height: 101%;
}

.page-content-section{
      box-sizing: border-box;
   height: 100vh;

   

   
}

ul {
    padding: 0 0 0 10px;
    list-style-type: none;
}
h2 {
    font-family: "OpenSans","Lucida Console", monospace;
}
